export RESUME_TRANSDUCER_PATH='/home/launchyard/Work/parser/ResumeParser/ResumeTransducer'
export GATEFILES_PATH='/home/launchyard/Work/parser/ResumeParser/GATEFiles'
export STANFORD_MODELS_PATH='/home/launchyard/Work/parser/cvParser/cvParser/stanford-ner-2014-10-26/classifiers/english.all.3class.distsim.crf.ser.gz'
export STANFORD_NER_JAR_PATH='/home/launchyard/Work/parser/cvParser/cvParser/stanford-ner-2014-10-26/stanford-ner.jar'

# django.db.backends.postgresql_psycopg2
DATABASE_ENGINE=django.db.backends.sqlite3
export DATABASE_NAME='resumeparser'
export DATABASE_USER='resumeparseruser'
export DATABASE_PASSWORD='aircto_parser'
export HOST='localhost'

export DJANGO_EMAIL_HOST_PASSWORD='testing1'

export AWS_SECRET_ACCESS_KEY='<aws-secret-acces-key>'
export AWS_ACCESS_KEY_ID='<aws-access-key>'

export SECRET_KEY='!+6gg%(yt(#mxj&5rtv%%&k4*t33w%(6=1&^k%n($r&#(z(*44'

export DJANGO_SETTINGS_MODULE=jarvis.settings.dev

